.container {
    display: flex;
    margin-top: 3vh;
    padding: 0;
    align-items: center;
  flex: 1;
  align-items: stretch;

    
}

.searchbar {
    background-color: white;
    margin-right: 2vh;
    flex: 1;
}

.searchbar input {
    
    padding: 1vh;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    border: none;
    width: 100%;
    
}

.searchbar input:focus {
    outline:none;
}

.search-btn button{
    background-color: #363636;
    border: none;
    border-radius: 9%;
    height: 100%;
    color: white;
    padding: 1vh 1.2vh;
}


.search-btn button:visited {
    background-color: #363636;
    color: white;
}

.search-btn button:focus {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    color: white;
    background-color: black;

}

.search-btn button:hover {
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
    color: white;
    background-color: black;
}

.search-btn button:active {
    color: black;
    background-color: white;

}
