.loading {
    height: 50vh;
    position: relative;
}

.loading-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.spinner {
    width: 10vh;
    height: 10vh;
    border: 1vh solid currentColor;
    border-right-color: transparent;
}