* {
  margin:0;
}

html {
  background-color: #E7E4E4;
}



.App {
  font-family: sans-serif;
  background-color: #E7E4E4;
}

.not-found-message {
  text-align: center;
  font-size: 1.25rem;
  padding: 20px;
}
